<% present [translation,translation.page,translation.project] do |presenter| %>

<div class="translation">
  <% if can? :edit, Translation %>
    <%= presenter.form(:show,false) %>
  <% else %>
    <%= render 'translations/languages', presenter:presenter %>
  <% end %>
  <div class="clear"></div>
</div>

<% end %>
