<div id="translations">
  <% translations.each do |translation| %>
    <% present [translation,page,project] do |presenter| %>
      <%= render translation, presenter:presenter %>
    <% end %>
  <% end %>
</div>
