<% present language do |presenter| %>

<div class="history" id="history_<%= language.id %>">
  <%#= render 'sentences/sentences', sentences:language.sentences %>
  <%= presenter.sentences %>
</div>

<% end %>
