<% present [page,page.project] do |presenter| %>

<div class="page thumb">
  <%= presenter.image :thumb %>
  <div id="no">
    <%= presenter.decrease_pos %>
    <%= presenter.pos %>
    <%= presenter.increase_pos %>
  </div>
</div>

<% end %>
