<% present @project do |presenter| %>

<%= title @project.title %>

<%= presenter.pages %>
<%# render 'pages/pages', project:@project, pages:@project.pages if @project.pages.present? %>

<div id="bottom_links">
  <%= presenter.new_page_link %>
</div>

<% end %>
