<% present [Page,@project] do |presenter| %>

<%= title @project.title %>

<%= render 'pages/pages', project:@project, pages:@project.pages if @project.pages.present? %>

<div id="bottom_links">
  <%= presenter.new_link %>
</div>

<% end %>
