<% present noticement do |presenter| %>
  <%= presenter.type %>
  <%= presenter.content %>
  <div class="clear"></div>
  <%= presenter.timestamp %>
  <%= presenter.by_author %>
  <div class="clear"></div>
<% end %>
