@import "compass/css3/box-shadow"

$blue: #4B7399

div.clear
  clear: both
  height: 0
  overflow: hidden

body
  font: normal 14px "Helvetica Neue", Arial, Helvetica, sans-serif
a
  text-decoration: none 
  color: $blue
  text-shadow: 1px 1px 1px #aaa
  &:hover
    color: #eee
    text-shadow: 1px 1px 1px $blue 

$small_font: 10px
div.content
  float: left
div.type
  float: left
  margin-right: 5px
div.timestamp
  float: left
  margin-right: 5px
  font-size: $small_font
div.author
  float: left
  font-size: $small_font
div.unread
  background: LightSteelBlue 

div#background
  background: black

div#main_container
  padding: 20px
  background: white
  width: 2300px
  margin-left: auto 
  margin-right: auto 
  height: 1300px

div.pages
  margin-bottom: 10px
  div.thumb
    float: left
    width: 90px
    height: 90px
    img
      display: block
      margin: 0 auto
    div#no
      text-align: center

div.page
  div#title
    margin-bottom: 10px
    h1
      margin-bottom: 0
    h3, a.edit_link
      display: table-cell
      vertical-align: bottom
    a.edit_link
      padding-left: 10px
  div#image_container
    float: left
  div#noticements_container
    float: left
  div#translations_container
    float: left
    div#translations
      div.translation
        position: relative
        width: 1000px
        div.history
          z-index: 10
          position: absolute
          @include box-shadow(rgba(green, 0.4) 0 0 10px, rgba(green, 0.1) 0 0 3px 1px inset)
          width: 300px
          padding: 5px
          left: 550px
          top: 12px
          div#timestamp, div#author
            font-size: 10px
            float: left
          div#author
            margin-left: 3px
          div#comments
            div.comment
              margin-left: 5px
              background: #eee
              padding: 2px
              border-top: 1px dashed black
              &:first-child
                border-top: 0
              div#content
                font-size: 12px
          form#new_comment
            padding: 0
            textarea
              height: 31px
            input.button
              font-size: 10px
    form
      float: left
      width: 550px
      padding: 10px
      textarea
        resize: none
        float: left
        margin-right: 8px 
        padding: 0
        width: 250px
        height: 60px
        &.active
          @include box-shadow(rgba(green, 0.4) 0 0 10px, rgba(green, 0.1) 0 0 3px 1px inset)
      input.submit
        margin-top: 5px
      div.button_placeholder
        height: 30px

  a#new_link
    display: none

div.translation
  margin-bottom: 10px
  div.language
    div.sentence
      width: 250px
      float: left
      padding: 10px
      margin-right: 10px
      border: 1px solid black

div#bottom_links
  padding: 10px
